@model IEnumerable<BEUBiblioteca.Video>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_publ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.formato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_publ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.formato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idvideo }) |
            @Html.ActionLink("Details", "Details", new { id=item.idvideo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idvideo })
        </td>
    </tr>
}

</table>
